.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-form h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .search-input {
    width: 300px;
    margin-bottom: 1rem;
  }
  
  .search-select {
    width: 300px;
    margin-bottom: 1rem;
  }
  
  .search-button {
    padding: 1rem 2rem;
    background-color: #0073b1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .search-result {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-result-item {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .search-result-item :hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .search-result-item h4 {
    margin-bottom: 10px;
  }  

  .link-no-underline {
    text-decoration: none;
  }

  h4 {
    font-size: medium;
  }